<!--<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 pb-4">-->
<!--  <div class="col pb-4" *ngFor="let product of products">-->
<!--    <div class="card shadow-sm">-->
<!--      <img [src]="product.photo">-->
<!--      <div class="card-body">-->
<!--        <p>{{product.name}}</p>-->
<!--        <p class="card-text">{{product.description}}</p>-->
<!--        <div>-->
<!--          <p>{{product.price}} VND - {{product.price_sale}} VND</p>-->
<!--          <p>Quantity : {{product.quantity}}</p>-->
<!--        </div>-->
<!--        <div class="d-flex justify-content-between align-items-center">-->
<!--          <div class="btn-group">-->
<!--            <button type="button" class="btn btn-primary" (click)="showDetail(product)" >Details</button>-->
<!--          </div>-->
<!--          <small class="text-muted">9 mins</small>-->
<!--        </div>-->
<!--&lt;!&ndash;        <div>&ndash;&gt;-->
<!--&lt;!&ndash;          <form>&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="text" [(ngModel)]="product.name" name="product-name">&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="text" [(ngModel)]="product.description" name="product-desc">&ndash;&gt;-->
<!--&lt;!&ndash;          </form>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <p *ngIf="selected">-->
<!--    {{selected.name}}-->
<!--  </p>-->
<!--</div>-->
